html,
body {
    height: 100%;
    width: 100%;
    margin: 0;

    font-family: sans-serif;
}

p {
    font-size: 1em;
    line-height: 1.6em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li a {
    text-decoration: none;
    color: white;
    padding: 0.5em;
}

.navnav{
    background-color: black;
}

.wrapper {
    background: url(../Assets/Resto.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    height: 70%;
    text-align: center;
    padding: 0.8em 1.2em;
    color: white;
}

.wrapper h1{
    padding-top: 2em;
}

header {
    display: flex;
    justify-content: space-between;
}

.navigation {
    display: flex;
    padding-left: 2em;
    padding-top: 2em;
    padding-bottom:2em;
}

.item {
    display: none;
}

.toggle {
    font-size: 2em;
}

.about {
    width: 100%;
    text-align: center;
}

.about h1 {
    padding-bottom: 2em;
}

.imgabout {
    width: 50%;
}

.about p {
    padding: 2em 2em;
    text-align: justify;
}

.about2 {
    background: #EFEFEF;
    text-align: center;
    padding: 2em;
}
.about2 img {
    width: 70%;
}

.about2 h1 {
    padding-bottom: 3em;
}

.about2 ul li {
    padding-bottom: 2em;
}

.sosmed {
    text-align: center;
    padding: 2em;
}

.sosmed img {
    width: 60%;
}

.sosmed h2 {
    padding-bottom: 3em;
}

.sosmed ul li {
    padding-bottom: 2em;
}

@media only screen and (min-width:1020px) {
    h1 {
        font-size: 3em;
    }

    .subhead {
        font-size: 1.4em;
    }

    .item {
        display: block;
    }

    .toggle {
        display: none;
    }

    .about {
        padding-bottom: 3em;
    }

    .aboutinfo {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .imgabout {
        width: 30%;
    }

    .aboutinfo p {
        width: 30%;
    }

    .about2 ul {
        display: flex;
    }

    .about2 li {
        padding: 2em;
    }

    .sosmed img {
        width: 60%;
    }

    .sosmed ul {
        display: flex;
    }

    .sosmed li {
        padding: 2em;
    }
}