html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: sans-serif;
}

p {
    font-size: 1em;
    line-height: 1.6em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li a {
    text-decoration: none;
    color: white;
    padding: 0.5em;
}

.navnav {
    background-color: black;
}

.navigation {
    display: flex;
    padding-left: 2em;
    padding-top: 2em;
    padding-bottom:2em;
}

.wrapper {
    background: url(../Assets/Resto.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    height: 70%;
    text-align: center;
    padding: 0.8em 1.2em;
    color: white;
}

.wrapper h1{
    text-align: center;
    padding-top: 2em;
}

header {
    display: flex;
    justify-content: space-between;
}

.item {
    display: none;
}

.toggle {
    font-size: 2em;
}

.info {
    width: 100%;
    text-align: center;
}

.branches h1 {
    padding-bottom: 1em;
}

.branches {
    background-color: #EEEEEE;
    width: 100%;
    text-align: center;
}

.branches ul li {
    padding-bottom: 2em;
}

.grid_container {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color:#EEEEEE;
    padding: 1.3px;
}

.grid_item {
    background-color: #EEEEEE;
    border: 1px solid gray;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

footer {
    background: black;
    color: white;
    text-align: center;
}

.contact {
    padding: 1em;
}

@media only screen and (min-width:1020px) {
    h1 {
        font-size: 3em;
    }

    .subhead {
        font-size: 1.4em;
    }

    .item {
        display: block;
    }

    .toggle {
        display: none;
    }

    .info {
        padding-bottom: 3em;
    }

    .register {
        width: 30%; 
        margin-left: auto;
        margin-right: auto;
    }

}