html,
body {
    height: 100%;
    width: 100%;
    margin: 0;

    font-family: sans-serif;
}

p {
    font-size: 1em;
    line-height: 1.6em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li a {
    text-decoration: none;
    color: white;
    padding: 0.5em;
}

.navnav{
    background-color: black;
}

.wrapper {
    background: url(../Assets/Resto.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    height: 60%;
    text-align: center;
    padding: 0.8em 1.2em;
    color: white;
}

.wrapper h1{
    font-size: 4em;
    padding-top: 1em;
}

.navigation {
    display: flex;
    padding-left: 2em;
    padding-top: 2em;
    padding-bottom:2em;
}

.menu-lits {
    display: flex;
    align-items: center;
    padding-left: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size:2.5em;
}