html,
body {
    height: 100%;
    width: 100%;
    margin: 0;

    font-family: sans-serif;
}

p {
    font-size: 1em;
    line-height: 1.6em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li a {
    text-decoration: none;
    color: white;
    padding: 0.5em;
}

.navnav{
    background-color: black;
}

.wrapper {
    background: url(../Assets/Resto.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    height: 30%;
    text-align: center;
    padding: 0.8em 1.2em;
    color: white;
}

.wrapper h1{
    padding-top: 1.5em;
}

.navigation {
    display: flex;
    padding-left: 2em;
    padding-top: 2em;
    padding-bottom:2em;
}

.item {
    display: none;
}

.toggle {
    font-size: 2em;
}

.about {
    width: 100%;
    text-align: center;
}

.about h1 {
    padding-bottom: 2em;
}

.imgabout {
    width: 50%;
}

.about p {
    padding: 2em 2em;
    text-align: justify;
}

.menu {
    background: #EFEFEF;
    width: 100%;
    text-align: center;
    padding: 2em;
}

.menu img {
    width: 20%;
}

.menu h1 {
    padding-bottom: 1em;
}

.menu ul li {
    padding-bottom: 2em;
}

.location {
    width: 100%;
    text-align: center;
}

footer {
    background: black;
    color: cyan;
    text-align: center;
}

.contact {
    padding: 1em;
}

@media only screen and (min-width:1020px) {
    h1 {
        font-size: 3em;
    }

    .subhead {
        font-size: 1.4em;
    }

    .item {
        display: block;
    }

    .toggle {
        display: none;
    }

    .about {
        padding-bottom: 3em;
    }

    .aboutinfo {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .imgabout {
        width: 30%;
    }

    .aboutinfo p {
        width: 30%;
    }

    .register {
        width: 30%; 
        margin-left: auto;
        margin-right: auto;
    }
}
